% This is just an example bib
@string{ SL = {Studentlitteratur} }

@incollection{ hedner2010hypertoni,
	author = {Lars Pavo Hedner},
	title = {Hypertoni},
	booktitle = {Invärtesmedicin},
	year = {2010},
	publisher = SL,
	address = {Lund},
	editor = {Lars Pavo Hedner},
	pages = {99--110}
}

@incollection{ hedner2010aihk,
    author = {Lars Pavo Hedner},
    editor = {Lars Pavo Hedner},
    title = {Arterosclerossjukdom i hjärtats kranskärl},
    booktitle = {Invärtesmedicin},
    year = {2010},
    publisher = SL,
    address = {Lund},
    pages = {33--52}
}

